/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2022/05/15 19:44:25 (GMT+0900)
 */
$borderColor: #ddd;

.sp-editor {
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .border-bottom {
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      content: '';
      transform: scaleY(0.5);
      border-bottom: 1px solid $borderColor;
    }
  }
  .border-top {
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      content: '';
      transform: scaleY(0.5);
      border-top: 1px solid $borderColor;
    }
  }
}
