body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}

.border-bm {
  border-bottom: 1px solid #f1f1f1;
}

/** *******************************
 * container
 * ********************************
 */
.container * {
  box-sizing: border-box;
}

.container [contenteditable] {
  outline: none;
}

/** *******************************
 * header
 * ********************************
 */
header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  background-color: rgba(255, 255, 255, .9);
  overflow: hidden;
}

header .title {
  line-height: 44px;
  font-size: 16px;
  text-align: center;
}

header div a {
  font-size: 15px;
}

header a {
  display: inline-block;
  min-width: 44px;
  height: 44px;
  text-align: center;
  text-decoration: none;
}

header a.active, [state="active"] {
  color: #00C1B7 !important;
}

header a.back {
  background: url('../img/back@2x.png') no-repeat center center;
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
  text-indent: -999px;
}

header .left-wrapper, header .right-wrapper {
  position: absolute;
  top: 0;
  height: 44px;
  line-height: 44px;
}

header .left-wrapper {
  left: 0;
}

header .right-wrapper {
  right: 8px;
}

header .preview {
  color: #BABABA;
}

header .save {
  padding: 0 10px;
  font-size: 17px;
  color: #999;
}

/*预览*/
header .back-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #777;
}

header .back-text:before {
  display: inline-block;
  content: '';
  margin: 0 5px 0 10px;
  width: 20px;
  height: 20px;
  background: url('../img/back@2x.png') no-repeat center center;
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
}

/** *******************************
 * cover
 * ********************************
 */
.cover-wrapper {
  margin-top: 44px;
  overflow: hidden;
}

.cover-wrapper .cover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 13px 13px 0;
  min-height: 100px;
  border: 1px dashed #ccc;
  border-radius: 6px;
}

.cover-wrapper .cover:after {
  position: relative;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  text-indent: 24px;
  color: #bababa;
  content: '添加图片';
  background: url('../img/icon-pic@2x.png') no-repeat 0 0;
  -webkit-background-size: auto 18px;
  background-size: auto 18px;
}

.cover-wrapper .has-pic {
  margin: 0;
  border: 0;
  border-radius: 0;
}

.cover-wrapper .has-pic:after {
  display: none;
}

.cover-wrapper .has-pic img {
  width: 100%;
  height: auto;
}

/** *******************************
 * title-wrapper
 * ********************************
 */
.title-wrapper {
  margin-top: 5px;
  padding: 15px 0;
}

.title-wrapper .item {
  margin: 0 13px;
}

.title-wrapper .placeholder {
  line-height: 24px;
  font-size: 20px;
  color: #ccc;
}

.title-wrapper .placeholder span {
  font-size: 16px;
}

.title-wrapper .input-hook {
  line-height: 26px;
  font-size: 20px;
  caret-color: #00c1b7;
}

/** *******************************
 * summary-wrapper
 * ********************************
 */
.summary-wrapper {
  padding: 15px 0;
}

.summary-wrapper .item {
  margin: 0 13px;
}

.summary-wrapper .placeholder {
  font-size: 16px;
  color: #ccc;
}

.summary-wrapper .input-hook {
  caret-color: #00c1b7;
}

/*article*/
article {
  overflow: hidden;
}

.zx-eidtor-container {
  margin: 10px 0 0;
}

.article-preview-wrapper {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform .3s;
  transform: translateX(100%);
}

.preview-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  overflow-y: auto;
}

.preview-cover {
  /*margin-top: 64px;*/
}

.preview-cover img {
  width: 100%;
}

.preview-title {
  position: relative;
  padding: 20px 13px;
  font-size: 20px;
  line-height: 26px;
  box-sizing: border-box;
}

.preview-title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  content: '';
  transform: scaleY(0.5);
}

.preview-summary {
  position: relative;
  padding: 20px 13px;
  box-sizing: border-box;
}

.preview-summary:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  content: '';
  transform: scaleY(0.5);
}

.preveiw-content {
  margin: 3px 13px 0;
  padding-bottom: 20px;
  overflow: hidden;
}

.preveiw-content .child-node-is-a a {
  position: relative;
  display: block;
  padding: 0 21px 0 35px;
  height: 40px;
  border-radius: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 40px;
  color: #555;
  text-decoration: none;
  background: #F7F7F7 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDE0IDc5LjE1Njc5NywgMjAxNC8wOC8yMC0wOTo1MzowMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkQ0QUJFNzNEOEYxNDExRThBNTdCODE2QTFCNkFEQzc1IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkQ0QUJFNzNFOEYxNDExRThBNTdCODE2QTFCNkFEQzc1Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6RDRBQkU3M0I4RjE0MTFFOEE1N0I4MTZBMUI2QURDNzUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6RDRBQkU3M0M4RjE0MTFFOEE1N0I4MTZBMUI2QURDNzUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6tmar3AAAFQElEQVR42qxWaUxcVRS+wLDIUmBYJBCN1lAS9UeNVIQ2IJBhk5YCDSlhjVKiiP6A0KpQStlMCEiIASMlmrSlLCE0gDaWJRJbSyCQlLBJ1CAQ9n0Yduj1O895k+c4gyn2JZfhLud+59zz3e9cA845ewbf6bm5OcXk5OTJtbU1B0dHx3EXF5d+uVzeiLnfpAsN/iegfGJioqimpub9/v5+JpPJmIWFBVMqlczQ0JD5+fmpIiIivrS2tr72LAAd+vr6vi8uLn7LzMyMhYaGTrq5uT0wNTVVra+vOwwNDfk1NjZaI1KWk5NTbW9vHw+bJ4wAj9Be6u7uHg0ODua5ubkcEX2BMXuae/JEs+fxsbGx+qSkJJ6SksJXV1dzheCOAGbT1dU1QGD5+fl8b2/vIxFof3+fqVQqhjHNehx5S1hYGL958+Ym+i88LdgrPT09IwEBAbywsJAfHBy8J4JR3nZ3d9nW1pYALLFxqaqqWklMTKSTSDsUgAy3t7eFhr5de3v7rwqFQozsY3EdgNni4iLb2dkRwKWN5nH89y9evMhHR0e/NTyMFRsbG2xzc1PwHN/zoL2bl5cXy8zMvARGfiWuI0ba2dkZGRsbMwMDA2GMbNR2DKSaNTc3ZysrK3LZYYBkbGlpKXiJoxqOi4s7b2RkRE7e1VoagrzmuLq6fgfgryliExMTzSROw5aO+tixY8pDIyTPqZHnBAqwJh1gwRUVFXezsrJOLSwsfEBO0lr6VUdrNzw8fIb2cHJyGj4sh3J45gNvDalPzJOyT90Cb926tenv789ra2tVyJm39j7Ly8vfREVF8fLycnS5qz6w421tbaOlpaUchEkl8uhgX0hlZeU2gTU1Nc2i7669DwQgJy0tjScnJ3OQqkTfPXRAPh4T9fPy8jhAYsU7JlmjuH37tgrSxevr61fQP629Dxy9jI+fO3eOj4+PP8SYuS7Al0lBAgMDeUFBAVH/kg6HFIhs39fXl7e0tFBkb+qI7FpGRgYPDw/nAwMDjzD2nDgnXWiLyAZDQkJEsFQdYEGIbFMd2Tr6p7TX4Cp9fuXKFX727Fk+ODhIkdlK5zUEgSf9QUFBAhiIkqQDTMgZgTU3N89II6P7ps5zQnp6OoeQE9hPmLPS3kf4MzU1dSM2NpZfvXqVw/iyDjANGxGZEv23RSBqpERqWbsAzdyB/D0QxVwX4GtlZWU8JiaGQ3hLxAmJ6gcjsl2KTJuNoDxDFRCFQZTAE2gyfdeNjD5NSEjgiGCRKoF0EkerqK6uVlFkdXV1/2IjSR810UHSUmqkNHoBIahV0dHRHMfwg3jBqcRQKWloaODe3t6Uszk99+zDpaWlTwAmI0Cy/S9AQxyDGckOxHhDqqEwWnN2dn4Eev8Jxr2L4V6pnmHzz7Kzsyvu3LlThv/fmJ+fF46YAEUB1/XJbGxslmkRvH1RGMC7RH1xlZ6enu9gyBJtRauKXEelz0ZFZ5CtX+Dw73i3/B0BtPcwQCo/CampqbyoqGgPBifJCC8vDfOoiXVOVBDxnuHd8lAfG/XmkCTn3r17c3QHe3t7R0ltKIcEJC5CFRBzdl2iID9jzOxpnyhMTZR4egxFRkZySNtjjJ3RWvjq9PR0JV1qAsOl7iKxOMoDTPNMhFLkl5SUZHZ2djIfHx/m7u7eg4I5i+O0GhkZOd3R0WFiZWXFcJz3UWgvwER1lLflP96lyFM8ylJma2vriZmZGSH5lDsQi3l4eCghWeV4X2YJ78sjfhpA8fKiqlsgh+ehIK8jOluwdguAxMIfsewP0kxi8lG/vwQYAMOPcO6Q6KOZAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: 11px center;
  -webkit-background-size: 14px 14px;
  background-size: 14px 14px;
}

.preveiw-content .a-link-item i {
  display: none;
}

.preveiw-content p {
  margin: 0;
  padding: 10px 0 0;
}

/** *******************************
 * 编辑器底部样式扩展
 * ********************************
 */
.demo-summary-button i {
  background-image: url('../img/summary@2x.png');
}

@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .demo-summary-button i {
    background-image: url('../img/summary@3x.png');
  }
}
