@import "./config.styl"

//text-style-outer-wrapper
.zxeditor-container
  .text-style-outer-wrapper
    .__style-wrapper
      position: relative;
      display: flex;
      height: $listHeight px;
      > div
        position: relative;
        flex: 1;
        line-height: $listHeight px;
        text-align: center;
        font-size: 1.5em;
        &:nth-child(2)
          &:before
            position: absolute;
            top: 0;
            left: 0;
            height: $listHeight px;
            content: '';
            border-left: 1px solid $borderColor;
            transform: scaleX(.5);
          &:after
            position: absolute;
            top: 0;
            right: 0;
            height: $listHeight px;
            content: '';
            border-right: 1px solid $borderColor;
            transform: scaleX(.5);
        &.text-bold
          font-weight: 800;
        &.text-italic
          font-style: italic !important;
        &.through-line
          text-decoration: line-through !important;

.zxeditor-container
  .text-style-outer-wrapper
    .__color-wrapper
      display: flex;
      position: relative;
      height: $listHeight px;
      dd
        flex: 1;
        position: relative;
        height: $listHeight px;
        &:before
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -14px 0 0 -14px;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          content: '';
        &:after
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -17px 0 0 -17px;
          width: 34px;
          height: 34px;
          border-radius: 50%;
          box-sizing: border-box;
          content: '';
      .__black:before
        background-color: $black;
      .__gray:before
        background-color: $gray;
      .__red:before
        background-color: $red;
      .__yellow:before
        background-color: $yellow;
      .__green:before
        background-color: $green;
      .__blue:before
        background-color: $blue;
      .__purple:before
        background-color: $purple;
      .active
        &.__black:after
          border: 1px solid $black;
        &.__gray:after
          border: 1px solid $gray;
        &.__red:after
          border: 1px solid $red;
        &.__yellow:after
          border: 1px solid $yellow;
        &.__green:after
          border: 1px solid $green;
        &.__blue:after
          border: 1px solid $blue;
        &.__purple:after
          border: 1px solid $purple;


.zxeditor-container
  .text-style-outer-wrapper
    .__tag-wrapper
      border-top: 5px solid $borderColor;
      > div
        position: relative;
        margin: 0 20px;
        height: $toolbarHeight px;
        line-height: $toolbarHeight px;
        text-align: center;
        &:after
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          content: '';
          border-top: 1px solid $borderColor;
          transform: scaleY(.5);
        &:last-child:after
          border-top: 0;
        > b
          position: relative;
          display: inline-block;
          vertical-align: top;
          margin-right: 8px;
          width: 20px;
          height: $toolbarHeight px;
          text-align: right;
          &:after
            display: inline-block;
        &.__h2
          font-size: 1.2em;
          font-weight: 800 !important;
        &.__h4
          font-weight: 800 !important;
        &.__blockquote
          b:after
            font-size: 2em;
            content: '"';
            margin-top: 8px;
        &.__ul
          b:after
            font-size: 1.5em;
            content: '·';
        i
          display: none;
          position: absolute;
          z-index: 1;
          top: 18px;
          right: 30px;
          width: 16px;
          height: 8px;
          transform: rotate(-45deg);
          &.checked
            display: inline-block;
            &:before, &:after
              display: inline-block;
              position: absolute;
              background-color: $primaryColor;
              content: '';
            &:before
              top: 0;
              left: 0;
              width: 2px;
              height: 8px;
            &:after
              bottom: 0;
              left: 0;
              width: 14px;
              height: 2px;
