@import "../../css/config.styl"

$boderColor = #999;
$logColor = greenyellow;
$warnColor = #ff0;
$errorColor = #ff4141;

.zxeditor-debug-switch
  position fixed
  z-index 9999
  bottom 50%
  right: 20px;
  margin-top: -15px;
  width 30px
  height 30px
  border-radius 50%
  background-color: rgba(255, 255, 255, .8)
  bgImage('icon');
  -webkit-background-size: cover;
  background-size: cover;
  box-shadow 0 0 10px rgba(0, 0, 0, .1);

.zxeditor-debug-wrapper
  position fixed
  z-index 9999
  left: 0;
  bottom: 0;
  width 100%;
  height: 40%;
  background-color: rgba(0, 0, 0, .7)
  .zxeditor-debug-head
    position: relative;
    height: 30px;
    line-height: 30px;
    //border-bottom: 1px solid $boderColor;
    box-sizing border-box
    color: #ccc;
    background-color: rgba(0, 0, 0, .8)
    span
      padding-left: 15px;
      font-size: 14px;
      color: #eee;
    i
      font-size: 10px;
      color: greenyellow
    i.__close
      position absolute
      top: 0;
      right: 0;
      padding: 0 15px;
  .zxeditor-debug-body
    overflow-y: auto;
    .zxeditor-debug-list
      dl
        margin: 0 auto;
        padding: 5px 0;
        border-bottom 1px dashed $boderColor
        &:last-child
          border-bottom: 0
        dt, dd
          margin: 0 15px;
        dt
          font-size: 14px;
          font-weight 600
          color: #fff;
        dd
          font-size: 14px;
          color: $logColor;
          word-break: break-all;
