/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2022/05/10 21:27:03 (GMT+0900)
 */
:root {
  --placeholder-color: #999;
  --line-height: 1.5;
}
.zx-editor {
  &__content-wrapper {
    &.is-empty:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      pointer-events: none;
      color: var(--placeholder-color);
      line-height: var(--line-height);
      content: '';
    }
  }
}
